*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background: linear-gradient(#849BC7, #E1BEC3);
}
.container{
   width: 35%;
   min-width:480px;
   padding: 30px;
   background:url("/images/bg-image.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: multiply;
   border-radius: 10px;
}
form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input{
    width: 80%;
    padding: 15px 20px;
    background-color: #F5ECEE;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
input:focus{
    outline: 2px solid #ea9e91;
    border: none;
  }
.search-btn{
    width: 17%;
    font-size: 16px;
    border: 1px solid #5165A4;
    background: #5165A4;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 12px 6px;
    transition: all 200ms ease;
}
.search-btn:hover{
    border: 1px solid #ea9e91;
    background: #ea9e91;
    color: #FFFFFF;
    padding: 12px 6px;
}
div.current-weather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.current-weather p{
    line-height: 26px;
}
.current-weather-left{
    display: flex;
    flex-direction: column;
    gap: 2px;
 
}
.current-weather-right{
    display: flex;
    flex-direction: row; 
}
.current-city{
    font-weight: 400;
}
 .current-temperature{
    font-size: 80px;
    font-weight: 500;
    color: #FFFFFF;
}
 .cloud-icon{
    height: 85px;
    width: 85px;
} 
.search-form, div.current-weather{
    margin: 30px 0;
}
#current-temperature-unit{
    font-weight: 400;
    font-size: 28px;
    position: relative;
    top: -14px;
} 
.weather-forecast-day{
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
   border: 0.1px solid rgba(245, 236, 238, 0.2);
   border-radius: 8px;
}
.weather-forecast-days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px 0;
}
.weather-forecast-temperatures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.weather-forecast-icon{
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}
footer{
    text-align: center;
    font-size: 14px;
    margin: 12px 0;
}
a{
    color: #ea9e91;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 480px) {
    /* .container{
        width: 100%;
        height: 100%;
        padding: 40px;
        border-radius: 0px;
    } */
    /* .current-weather{
        margin: 12px 0;
    }
    .cloud-icon{
        display: inline;
        margin: auto;
    }
    #current-temperature-unit{
        top: 20px;
    } 
    .weather-forecast-icon{
        margin: auto;
    }
    .current-temperature{
        display: block;
        margin: auto;
    }
    .current-weather-forecast{
        flex-direction: column;
    }
    .weather-forecast-days{
        flex-direction: column;
        margin: 15px 0;
        gap: 8px;  
    }
    .weather-forecast-temperatures{
        gap: 10px;
    }
    .weather-forecast-day{
        flex-direction: row;
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
    } */
 }